// headBox.scss

@import "../../common/mixin";
@import "../../common/variable";

$imgPath:'../../img/';
$logoWhite: #{$imgPath}+'hermes_logo.svg';

// mobile =====================================
  
  @include mobile {
  #headBox {
    position: relative;
    width: 100%; height: auto;
    padding-top: 40px;

    & > h1 {
        width: 100%; height: 80px;
        margin: auto;
        background-image: url($logoWhite);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        text-decoration: none;
        border-bottom: 2px solid $color_beige_01;

      & > a {
        display: block;
        width: 100%; height: 100%; 
      }
    }
    @at-root .unb {
        display: flex; justify-content: space-between;
        position: absolute; top: 0; left: 0;
        width: 100% ; height: 40px;
        padding: 0 10px; 
        background-color: $color_beige_01;

        @at-root .nav_inner01 {
          display: flex; 
          width: 100px; height: 40px;

        & .menu_btn_part{
          width: 40px; height: 100%;
          
          & .menu_btn {
            width: 40px; height: 100%;
            margin: auto;
            background-image: url(../../../img/menu.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
          }
            & button {display: block;}
            & ul {
              display: none;
              width: 110%; height: auto;
              font-size: 12px;
              background-color: #ccc;


              &.on{display:block;}
              & a {display: block;}
            }
          
        } // .menu_btn_part

          @at-root .search_btn  {
            width: 40px; height: 100%;
            background-image: url(../../../img/search.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
          }
          @at-root .search_text_part {@include blind;} 
        } // .nav_inner01
      
        @at-root .nav_inner02 { 
          display: flex; 
          width: auto; height: 40px;
        
          @at-root .language_part {
            width: 40px; height: 100%; 
            background-image: url(../../../img/internet.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
              &  span {@include blind;}
          }
          @at-root .login_part {
            width: 40px; height: 100%; 
            background-image: url(../../../img/user.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
              &  span {@include blind;}
              & > dl{width: 100%; height: 180px;}
              &  dt{width: 100%; margin-bottom:1rem; font-weight: bold; font-size: 1.3em; text-transform:uppercase;}
              &  dd{width: 100%; }
          }
          @at-root .login_part_modal {
            display: none;
          
            &:before{ 
              content:""; display: block; 
              position: fixed; top: 0; left: 0;  z-index: -1;
              width: 100%; height: 100%; background-color: rgba($color_gray_01,0.5); 
            }
            width:70%; height:60%; 
            background-color: #ddd;
          }
          
          & .join_part {@include blind;}
          & a {display: block; width: 100%; height: 100%;}
          & button {display: block; width: 100%; height: 100%; }
  
      } // .nav_inner02   
    }// .unb
        & > .gnb {@include blind;}
  } // #headBox
} // mobile


// tablet ======================================

@include tablet {
#headBox{
  position: relative;
  width: 100%; height: auto;
  padding-top: 50px;

& > h1 {
    width: 100%; height: 100px;
    margin: 0 auto;
    background-image: url($logoWhite);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

  & > a {
    display: block;
    width: 100%; height: 100%; 
  }
}
  @at-root .unb {
    display: flex; justify-content: space-between;
    position: absolute; top:0; left:0;
    width: 100%; height: 50px; 
    text-transform: uppercase;
    background-color: $color_beige_01;

    @at-root .nav_inner01 {
      display: flex;
      width: auto; height: 50px;
      padding-left: 40px;
      
      @at-root & .menu_btn {@include blind}

      @at-root .search_btn  {
        width: 48px; height: 50px;
        padding-right: 10px;
        margin-left: -20px;
        text-decoration: none;
        background-image: url(../../../img/search.png);
        background-repeat: no-repeat;
        background-position: 10px 12px;
      }
      @at-root .search_text_part {
        width: 40px; height: 50px;
        margin-right: 40px;
        text-align: center; line-height: 50px; 
        font-size: 12px; text-decoration: underline;
      } 
    } // .nav_inner01

    @at-root .nav_inner02 { 
      display: flex;
      width: auto; height: 50px;
      text-transform: uppercase; 
      text-align: center; line-height: 50px; font-size: 12px;
      @at-root .language_part {
        width: 80px; height: 50px; 
        & span {text-transform: uppercase;}
      }
      @at-root .login_part {
        width: 80px; height: 50px; 
        margin-right: -8px;
      }
      @at-root .join_part {
        width: 80px; height: 50px;
      }
      &  a {display: block; width: auto; height: 100%;}
      &  button {display: block; width: auto; height: 100%; }
        } // .nav_inner02   
      } // .unb

      @at-root .gnb {
        width: 100%; height: 60px;
        background-color: $color_beige_01;
      
        @at-root .nav_inner03 {
          display: flex; justify-content: space-between;
          width: 100%; height: 60px; 
          text-transform: uppercase; 
      
          @at-root .menu_btn {
            width: 100%; height: 24px;
            margin-top: 18px;
            background-image: url(../../../img/menu.png);
            background-repeat: no-repeat;
            background-position: 50% 50%; }
            @at-root .menu_part {
            display: flex; justify-content: space-around;
            width: 100%; height: 60px;

            & a {
              display:block; 
              width: 80px; height: 60px; 
              text-align: center; line-height: 58px; font-size: 17px;
              margin-right: 10px;
            }
            & a:last-child {margin-right: 0;}
          }
      
          @at-root .cart_btn {
            width: 100%; height: 100%;
            background-image: url(../../../img/bag.png); 
            background-repeat: no-repeat;
            background-position: 50% 50%;
          }
        }// .nav_inner03
      }// .gnb
    } // #headBox
  }// tablet







// laptop =====================================================

@include laptop {
  #headBox{
    position: relative;
    width: 100%; height: auto;
    padding-top: 50px;
  
  @at-root h1 {
    width: 480px; height: 100px;
    margin: auto; 
    background-image: url($logoWhite);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center; line-height: 80px;
    background-color: $color_white_01;
    & a {
      display: block;
      width: 100%; height: 100%;
    }
  }
  
  @at-root .unb {
      display: flex;
      position: absolute; top:0; left:0;
      width: 100%; height: 50px; 
      margin: auto;
      text-transform: uppercase;
      padding: 0 54px;
      background-color: $color_beige_01;
  
      @at-root .nav_inner01 {
        display: flex;
        width: 100%; height: 50px;
        & > .menu_btn {@include blind}
        
        @at-root .search_btn  {
          width: 48px; height: 50px;
          background-image: url(../../img/search.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
        @at-root .search_text_part {
          width: 40px; height: 50px;
          margin-right: 40px;
          text-align: center; line-height: 50px; 
          font-size: 12px; text-decoration: underline;
        } 
      } // .nav_inner01
    
      @at-root .nav_inner02 { 
        display: flex;
        width: 240px; height: 50px;
        text-transform: uppercase; 
        text-align: center; line-height: 50px; font-size: 12px;
  
        @at-root .language_part {
          width: 80px; height: 30px; 
          & span {text-transform: uppercase; text-align: center; line-height: 52px; font-size: 12px;}
        }
        @at-root .login_part {
          width: 80px; height: 50px; 
          margin-right: -8px;
        }
        @at-root .join_part {
          width: 80px; height: 50px;
        }
        & a {display: block; width: auto; height: 100%;}
        & button {display: block; width: auto; height: 100%;}
  
    } // .nav_inner02   
  } // .unb
  @at-root .gnb {
    width: 100%; height: 60px;
    background-color: $color_beige_01;
  
  
    @at-root .nav_inner03 {
      display: flex; justify-content: space-between;
      width: 1096px; height: 60px;
      margin: auto; 
      text-transform: uppercase; 
  
      @at-root .menu_btn {
        width: 30px; height: 24px;
        padding-top: 58px;
        background-image: url(../../../img/menu.png);
        background-repeat: no-repeat;
        background-position: 50% 50%; }
        @at-root .menu_part {
        display: flex; justify-content: space-around;
        width: 700px; height: 60px;
        text-align: center; line-height: 58px; font-size: 17px;
        
  
        & a {
          display:block; 
          width: 100PX; height: auto; 
        }

      }
  
      @at-root .cart_btn {
        width: 30px; height: 24px;
        padding-top: 58px;
        background-image: url(../../../img/bag.png); 
        background-repeat: no-repeat;
        background-position: 50% 50%;
          }
        }// .nav_inner03
      }// .gnb
    } // #headBox
}// laptop



// pc ======================================================


@include pc {
#headBox{
  position: relative;
  width: 1440px; height: auto;
  margin: auto;
  padding-top: 50px;

@at-root h1 {
  width: 480px; height: 100px;
  margin: auto; 
  background-image: url($logoWhite);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center; line-height: 80px;
  background-color: $color_white_01;
  & a {
    display: block;
    width: 100%; height: 100%;
  }
}
@at-root .unb {
    display: flex;
    position: absolute; top:0; left:0;
    width: 100%; height: 50px; 
    margin: auto;
    text-transform: uppercase;
    padding: 0 120px;
    background-color: $color_beige_01;

    @at-root .nav_inner01 {
      display: flex;
      width: 100%; height: 50px;
      & .menu_btn {@include blind}
      
      @at-root .search_btn  {
        width: 48px; height: 50px;
        background-image: url(../../img/search.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
      @at-root .search_text_part {
        width: 40px; height: 50px;
        margin-right: 40px;
        text-align: center; line-height: 50px; 
        font-size: 12px; text-decoration: underline;
      } 
    } // .nav_inner01
  
    @at-root .nav_inner02 { 
      display: flex;
      width: 240px; height: 50px;
      text-transform: uppercase; 
      text-align: center; line-height: 50px; font-size: 12px;

      @at-root .language_part {
        width: 80px; height: 30px; 
        & span {text-transform: uppercase; text-align: center; line-height: 50px; font-size: 12px;}
      }
      @at-root .login_part {
        width: 80px; height: 50px; 
        margin-right: -8px;
      }
      @at-root .join_part {
        width: 80px; height: 50px;
      }
      & a {display: block; width: auto; height: 100%;}
      & button {display: block; width: auto; height: 100%;}

  } // .nav_inner02   
} // .unb
@at-root .gnb {
  width: 100%; height: 60px;
  background-color: $color_beige_01;

  @include mobile {display: none;}

  @at-root .nav_inner03 {
    display: flex; justify-content: space-between;
    width: 1096px; height: 60px;
    margin: auto; 
    text-transform: uppercase; 

    @at-root .menu_btn {
      width: 30px; height: 24px;
      padding-top: 58px;
      background-image: url(../../../img/menu.png);
      background-repeat: no-repeat;
      background-position: 50% 50%; }
      @at-root .menu_part {
      display: flex; justify-content: space-around;
      width: 740px; height: 60px;
      text-align: center; line-height: 58px; font-size: 17px;
      
      & a {
        display:block; 
        width: 100px; height: 100%; 
      }
    }

    @at-root .cart_btn {
      width: 30px; height: 24px;
      padding-top: 58px;
      background-image: url(../../../img/bag.png); 
      background-repeat: no-repeat;
      background-position: 50% 50%;
        }
      }// .nav_inner03
    }// .gnb
  } // #headBox
}// pc