@charset "UTF-8";
/* e_01_project_01.css */

#wrap {
  width: 1440px; height: auto;
  margin: auto;
}

/* headBox
================================ */
#headBox {
  position: relative;
  width: 1440px; height: 100px;
  margin: auto; 
  background-color: #E35026;
}
h1 {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  width: 360px; height: 100px;
  margin: auto;
  text-align: center;
  background-color: transparent;
}

.navigation {
  float:left;
  width: 74px; height: 100px;
  background-color: transparent;
}

.log_in_link {
  float: right;
  width: 74px; height: 100px;
  text-align: center;
  background-color: transparent;
}
/* .nav_01 {  float: left;
  width: 74px; height: 100px;
  margin-right: 480px;
  text-align: center;
  background-color: transparent;
}
.nav_02 {
  float: left;
  width: 360px; height: 100px;
  margin: auto;
  text-align: center;
  background-color: transparent;
}
.nav_03 {
  float: right;
  width: 74px; height: 100px;
  text-align: center;
  background-color: transparent;
} */
/* viewBox
================================ */
#viewBox {
  width: 1350px; height: 820px;
  margin: auto;  margin-bottom: 170px;
  background-color: #ECECEC;
}
.view_part {
  width: 100%; height: 820px;
  margin: auto;
  background-color: transparent;
}

/* bannerBox_01
================================ */
#bannerBox_01{
  width: 1350px; height: 210px;
  margin: auto; margin-bottom: 170px;
  background-color: #ECECEC;
}
.banner_part01 {
  width: 100%; height: 100%;
  background-color: transparent
}


/* contentBox
================================ */
#contentBox {
  width: 1350px; height: 870px;
  margin: auto; margin-bottom: 170px;
  background-color: #ECECEC;
}
  .con_inner {
    width: 100%; height: 100%;
  }
    .con_part01 {
      float: left;
      width: 820px; height: 820px;
      margin: 24px;
      background-color: #D9D9D9;
    }
    .con_part02 {
      float: left;
      width: 450px; height: 820px;
      margin-top: 24px; 
      background-color: #D9D9D9;
    }


/* subAdBox
================================ */
#subAdBox {
  width: 1350px; height: 640px;
  margin: auto; margin-bottom: 170px;
  padding: 15px ;  box-sizing: border-box;
  background-color: #ECECEC;
}
/* ad_part01
--------------------------------- */
  .ad_part01 {
    float: left;
    width: 300px; height: 610px;
    margin-right: 40px;  padding-top: 30px;
    box-sizing: border-box;
  }
      .ad_inner_set_01 {
        width: 248px; height: 328px;
        margin: auto; margin-bottom: 30px;
        background-color: #D9D9D9;
      }
      .ad_inner_set_02 {
        width: 200px; height: 100px;
        margin: auto; margin-bottom: 20px;
        background-color: #D9D9D9;
      }
      .ad_inner_set_03 {
        width: 150px; height: 60px;
        margin: auto;
        background-color: #D9D9D9;
      }
/* ad_part02
--------------------------------- */
  .ad_part02 {
    float: left;
    width: 300px; height: 610px;
    margin-right: 40px;  padding-top: 30px;
    box-sizing: border-box;
  }

/* ad_part03
--------------------------------- */
  .ad_part03 {
    float: left;  
    width: 300px; height: 610px;
    margin-right: 40px;  padding-top: 30px;
    box-sizing: border-box;
  }
  
    
/* ad_part04
--------------------------------- */
  .ad_part04 {
    float: right;
    width: 300px; height: 610px;
    padding-top: 30px;
    box-sizing: border-box;
  }

  
/* bannerBox_02
================================ */
#bannerBox_02 {
  width: 1350px; height: 210px;
  margin: auto; margin-bottom: 170px;
  background-color: #ECECEC;
}
.banner_part02 {
  width: 100%; height: 100%;
  background-color: transparent
}

/* info_Box
================================ */
#infoBox {
  width: 1350px; height: 340px;
  margin: auto;
  background-color: #ECECEC;
}
  .info_part {
    float: left;
    width: 860px; height: 300px;
    margin: 20px; 
  }
    .info_inner01 {
      float: left;
      width: 400px; height: 250px;
      margin: 23px 14px;
      background-color: #D9D9D9;
    }
    .info_inner02 {
      float: left;
      width: 400px; height: 250px;
      margin: 23px 14px;
      background-color: #D9D9D9;
    }
  .sns_part {
    float: right;
    width: 300px; height: 100px;
    margin: 20px 30px; padding-top: 24px;
    box-sizing: border-box;
  }

      .sns_inner_set { 
        width: 300px; height: 50px;
        margin-left: 20px; 
        background-color: #ECECEC;
      }
        .sns_inner01 {
          width: 50px; height: 50px;
          float: left; 
          margin-left: 20px; 
          border-radius: 40px;
          background-color: #D9D9D9;
        }
        .sns_inner02 {
          width: 50px; height: 50px;
          float: left; 
          margin-left: 20px; 
          border-radius: 40px;
          background-color: #D9D9D9;
        }
        .sns_inner03 {
          width: 50px; height: 50px;
          float: left;  
          margin-left: 20px; 
          border-radius: 40px;
          background-color: #D9D9D9;
        }
        .sns_inner04 {
          width: 50px; height: 50px;
          float: left; 
          margin-left: 20px; 
          border-radius: 40px;
          background-color: #D9D9D9;
        }
  
/* footBox
================================ */
#footBox {
  position: relative;
  width: 1440px; height: 100px;
  margin: auto;
  background-color: #E35026;
}
.foot_part {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  width: 360px; height: 100px;
  margin: auto;
  text-align: center;
  background-color: transparent;
}
