@charset "UTF-8";
/* e_02_project_main.css */

@font-face {
  font-family: 'Namun_square'; 
  src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
  font-weight: normal;
  font-style: normal;
}

html,body { width: 100%; height: 100%;}

/* desgin================================ */
#wrap {
  width: 1440px; height: auto;
  border: 1px solid #ededed;
}

/* headBox ================================ */
#headBox {
  position: relative;
  width: 100%; height: 200px;
  padding-top: 50px;
  background-color: #fff;
}

  h1 {
    width: 480px; height: 100px;
    margin: auto; 
    text-align: center; line-height: 80px;
    background-color: #fff;
  }


  h1 > a {
    display: block;
    width: 480px; height: 100px;
    margin: auto; 
    background-image: url(../../img/hermes_logo.svg);
    background-repeat: no-repeat;
    background-position: 190px;
    text-decoration: none;
  }


/* unb ---------------------------------------- */
  .unb {
    position: absolute; top:0; left:0;
    width: 100%; height: 50px; 
    margin: auto;
    text-transform: uppercase;
    padding-left: 172px; padding-right: 172px;
    background-color: #F6F1EB;
  }               
    .nav_inner01 {
      float: left;
      width: 150px; height: 50px;
      padding: 0 16px;
    }
    .search_btn  {
      float: left;
      width: 48px; height: 50px;
      margin-left: -14px;
      text-decoration: none;
      background-image: url(../../img/search.png);
      background-repeat: no-repeat;
      background-position: 10px 12px;
    }
    .search_text_part {
      float: right;
      width: 40px; height: 50px;
      margin-right: 40px;
      text-align: center; line-height: 50px; 
      font-size: 12px; text-decoration: underline;
    } 

    .nav_inner02 { 
      float: right;
      width: 240px; height: 50px;
      text-transform: uppercase; 
      text-align: center; line-height: 50px; font-size: 12px;
    }
    
      .language_part {
        float: left;
        width: 80px; height: 30px; 
      }
      .login_part {
        float: left;
        width: 80px; height: 50px; 
        margin-right: -8px;
      }
      .join_part {
        float: left;
        width: 80px; height: 50px; 
      }
      .nav_inner02 > a {display: block; width: auto; height: 100%;}
      .nav_inner02 >  button {display: block; width: auto; height: 100%; margin-right: 10px; }


/* gnb ---------------------------------------- */
  .gnb {
    width: 100%; height: 60px;
    background-color: #F6F1EB;
  }
    .nav_inner03 {
      width: 1096px; height: 60px;
      margin: auto; text-transform: uppercase; 
    }
    .menu_btn {
      float: left;
      width: 24px; height: 24px;
      margin-left: 10px; margin-top: 15px;
      background-image: url(../../img/menu.png);
      background-repeat: no-repeat;
      background-position: 3px 3px;
    }
    .menu_part {
      float: left;
      width: 736px; height: 60px;
      margin-left: 145px; padding: 0 28px;
    }
      .menu_part > a {
        display:block; 
        float: left;
        width: 120px; height: 60px; 
        text-align: center; line-height: 58px; font-size: 17px;
        margin-right: 20px;
      }
      .menu_part > a:last-child {margin-right: 0;}

    .cart_btn {
      float: right;
      width: 24px; height: 24px;
      margin-right: 10px; margin-top: 18px;
      background-image: url(../../img/bag.png); 
      background-repeat: no-repeat;
    }


/* viewBox /=============================== */
.viewBox {
  width: 1440px; height: 680px;
  margin-bottom: 210px; 
  background-color: #eee;
}


/* contentBox_01 ============================== */
.contentBox_01 {
  width: 1440px; height: 880px;
  margin-bottom: 210px; padding: 10px 172px;
  text-transform: uppercase; text-align: center; 
  line-height: 60px; font-size: 38px;
  background-color: #ddd;
}

.content_part_01 {
  width: 1094px; height: 788px;
  margin: auto; padding: 110px 0;
  background-color: #eee;
}

  .content_part_01 > h2 {
    width: 600px; height: 60px;
    margin: auto; 
    background-color: #fff;
  }

  .content_inner {
    float: left;
    width: 534px; height: 560px;
    background-color: #848484;
  }

  .content_img_inner {
    float: right;
    width: 534px; height: 560px;
    margin-bottom: 24px;
    background-color: #848484;
  }

  .more_btn {
    clear: both;
    width: 150px; height: 60px;
    margin: auto; line-height: 50px;
    background-color: #777;
  }
  .more_btn > a {
    width: 100%; height: 100%;
    font-size: 24px;
  }
    

/* adBox_01==================================== */
.adBox_01 {
  width: 1440px; height: 360px;
  margin-bottom: 280px;
  background-color: #555;
}


/* contentBox_02=============================== */
.contentBox_02 {
  width: 1440px; height: 700px;
  margin-bottom: 210px; padding: 10px 0;
  text-transform: uppercase; text-align: center; 
  line-height: 60px; font-size: 38px;
  background-color: #faf;
}
  .contentBox_02 > h2 {
    width: 600px; height: 60px;
    margin: auto; margin-bottom: 10px;
    background-color: #fff;
  }

  .contentBox_02 > ul {
    width: 1350px; height: 600px; 
    margin: auto; padding: 0 50px;
    background-color: #333;
  }
  .contentBox_02 > ul > li {
    float: left;
    width: 300px; height: 380px; 
    margin-right: 14px; margin-top: 50px;
    background-color: #fff;
  }
  .contentBox_02  li:last-child {margin-right: 0;}

  .contentBox_02 > button {
    width: 50px; height: 50px;
    margin-top: -80px;
    background-color: red;
  }







/* adBox_02 ================================== */
.adBox_02 {
  width: 1440px; height: 260px;
  margin-bottom: 180px;
  background-color: #eee;
}


/* contentBox_03 ============================= */
.contentBox_03 {
  width: 1440px; height: 1200px;
  margin-bottom: 200px; padding: 10px 172px;
  text-transform: uppercase; text-align: center; 
  line-height: 60px; font-size: 38px;
  background-color: #ddd;
}
.content_part_03 {
  width: 1094px; height: 1100px;
  margin: auto;
  background-color: #faf;
}

  .content_part_03 > h2 {
    width: 600px; height: 60px;
    margin: auto;
    background-color: #fff;
  }



/* footBox ================================ */
.footBox {
  width: 100%; height: 692px;
}
.fnb {
  width: 100%; height: 60px;
    background-color: #F6F1EB;
  }
    .fnb_box {
      width: 1094px; height: 60px;
      margin: auto; box-sizing: border-box;
    }
    .fnb_box  div { 
        float: left;
        width: 164px; height: 60px;
        margin-right: 140px;
        text-align: center; line-height: 58px;
    }
    .fnb_box  div:last-child {margin-right: 0;}


  .info_inner {
    width: 100%; height: 692px;
    background-color: #fff;
  }
    .cs_box {
      width: 1096px; height: 320px;
      margin: auto; padding: 46px 0;
      text-align: center; 
    }
      .cs_box  a {display:block; font-weight: bold; text-decoration: underline}
    
      .cs_part {
        float: left;
        width: 454px; height: 230px; 
        margin-right: 34px; padding: 20px;
        text-align: justify;
        border: 1px solid #333;
      }
        .cs_part > button { text-decoration: underline; font-weight: bold;}

      .store_search_part {
        float: left;
        width: 454px; height: 230px; 
        border: 1px solid #333;
      }
        .store_search_part span {
          display:block; 
          padding: 40px; padding-bottom: 0;
          font-size: 22px;  font-weight: bold;}
      
      .sns_part { 
        float:right; 
        width: 70px; height: 200px;
        padding: 8px; box-sizing: border-box;
        border: 1px solid #333;
      }
      
        .sns_part > a {
          display:block; 
          width: 40px; height: 40px;
          margin:auto; margin-bottom: 8px;
          border-radius: 100%;
          background-color: #c4c4c4;
        }
    
    address {
      width: 1096px; height: 242px;
      margin: auto; margin-bottom: 15px; padding-top: 50px;
      border: 1px solid #333;
    }
      address > p {display: block; padding-left: 20px;}
      address  a {text-decoration: underline;}

    .foot_logo {
      width: 480px; height: 100px;
      margin: auto;
      background-image: url(../../img/hermes_logo.svg);
      background-repeat: no-repeat;
      background-position: 190px;
    }