@charset "UTF-8";
/* e_03_project_sub_login.css */

html,body { width: 100%; height: 100%; }
/* #wrap { width: 100%; height: auto; min-height: 100%; } */

#wrap {
  width: 1440px; height: auto;
  background-color: #fff;
}

/* headBox ================================ */
#headBox {
  position: relative;
  width: 100%; height: 240px;
  padding-top: 50px;
  background-color: #fff;
}

  h1 {
    width: 480px; height: 100px;
    margin: auto; 
    text-align: center; line-height: 80px;
    background-color: #fff;
  }


  h1 > a {
    display: block;
    width: 480px; height: 100px;
    margin: auto; 
    background-image: url(../../img/hermes_logo.svg);
    background-repeat: no-repeat;
    background-position: 190px;
    text-decoration: none;
  }

  .unb {
    position: absolute; top:0; left:0;
    width: 100%; height: 50px; 
    margin: auto;
    padding-left: 172px; padding-right: 172px;
    background-color: #F6F1EB;
  }               
    .nav_inner01 {
      float: left;
      width: 150px; height: 50px;
      padding-top: 2px;
    }
    .search_btn  {
      float: left;
      width: 48px; height: 50px;
      text-decoration: none;
      background-image: url(../../img/search.png);
      background-repeat: no-repeat;
      background-position: 10px 10px;
    }
    .search_text_part {
      float: right;
      width: 70px; height: 50px;
      margin-top: -70px; margin-right: 54px; /* 아래 선 체크 */
      border-bottom: 1px solid #333;
    } 

    .nav_inner02 { 
      float: right;
      width: 240px; height: 50px;
      text-align: center; line-height: 46px; font-size: 14px;
    }
    
      .language_part {
        float: left;
        width: 80px; height: 50px; 
      }
      .login_part {
        float: left;
        width: 80px; height: 50px; 
        margin-right: -8px;
      }
      .join_part {
        float: left;
        width: 80px; height: 50px; 
      }
      .nav_inner02 > a {display: block; width: 80px; height: 80px;}

  .gnb {
    width: 100%; height: 60px;
    background-color: #F6F1EB;
  }
    .nav_inner03 {
      width: 1096px; height: 60px;
      margin: auto;
    }
    .menu_btn {
      float: left;
      width: 24px; height: 24px;
      margin-left: 10px; margin-top: 15px;
      background-image: url(../../img/menu.png);
      background-repeat: no-repeat;
      background-position: 3px 3px;
    }
    .menu_part {
      float: left;
      width: 736px; height: 60px;
      margin-left: 145px; padding: 0 28px;
    }
      .menu_part > a {
        display:block; 
        float: left;
        width: 120px; height: 60px; 
        text-align: center; line-height: 58px; font-size: 17px;
        margin-right: 20px;
      }
      .menu_part > a:last-child {margin-right: 0;}

    .cart_btn {
      float: right;
      width: 24px; height: 24px;
      margin-right: 10px; margin-top: 18px;
      background-image: url(../../img/bag.png); 
      background-repeat: no-repeat;
    }

/* loginBox ================================ */
#loginBox {
  width: 100%; height: 1000px;
  margin-bottom: 300px; padding: 180px;
}

  .login_area {
    width: 1096px; height: 800px;
    margin: auto; border: 1px solid #ededed; font-weight: normal;
  }

    .login_title_inner {
    width: 1096px; height: 140px;
    margin: auto; padding: 30px 0;
    border-bottom: 1px solid #ededed;
  } 
    .login_title_box {
    width: 320px; height: 80px;
    margin: auto;
    text-align: center; line-height: 70px; font-size: 38px; font-weight: bold;
  }  


  .login_inner {
    float: left;
    width: 540px; height: 658px;
    padding: 90px 74px; color: #505050;
    background-color: #fff;
  }
    .id_box {
      width: 380px; height: 80px;
      margin: auto; margin-bottom: 45px; padding-left: 20px; 
      text-align: left; line-height: 80px; font-size: 20px; 
      border: 1px solid #ededed; 
    }  
    .pw_box {
      width: 380px; height: 80px;
      margin: auto; margin-bottom: 10px; padding-left: 20px; 
      text-align: left; line-height: 80px; font-size: 20px;
      border: 1px solid #ededed;
    } 
    .id_check_box {
      width: 120px; height: 30px;
      margin-bottom: 60px; padding: 10px;
      text-align: right; line-height: 25px; font-size: 12px;
    } 
      .check_box {
        float: left;
        width: 20px; height: 20px; 
        margin-top: 2px; padding: 0;
        border: 1px solid #ededed;
        border-radius: 5px;
      }
      /* 튀어나온 이유? */

    .login_btn {
      width: 400px; height: 80px;
      margin-bottom: 10px;
      text-align: center; line-height: 80px; font-size: 24px;
      color: #ECECEC;
      background-color: #333;
    } 

  .search_inner {
    width: 360px; height: 40px;
    margin: auto; margin-top: -20px; padding: 22px 78px;
  }  
    .id_search_box {
      float: left;
      width: 100px; height: 40px;
      text-align: center; line-height: 40px; font-size: 14px;
      /* border: 1px solid #333; */
    } 
    
    .pw_search_box {
      float: right;
      width: 100px; height: 40px;
      text-align: center; line-height: 40px; font-size: 14px;
      /* border: 1px solid #333; */
    }

  
  .join_inner {
    float: right;
    width: 540px; height: 658px;
    padding: 200px 76px; color: #505050;
  }
    .join_box {
      width: 400px; height: 80px;
      margin-bottom: 46px;
      text-align: center; line-height: 80px; 
      font-size: 22px; color: #333;
      border: 1px solid #333;
    }
    .non_member_box {
      width: 400px; height: 80px;
      text-align: center; line-height: 80px; 
      font-size: 22px; color: #333;
      border: 1px solid #333;
    }
  
  
/* footBox ================================ */
.footBox {
  width: 100%; height: 692px;
}
.fnb {
  width: 100%; height: 60px;
    background-color: #F6F1EB;
  }
    .fnb_box {
      width: 1094px; height: 60px;
      margin: auto; box-sizing: border-box;
    }
    .fnb_box  div { 
        float: left;
        width: 164px; height: 60px;
        margin-right: 140px;
        text-align: center; line-height: 58px;
    }
    .fnb_box  div:last-child {margin-right: 0;}


  .info_inner {
    width: 100%; height: 692px;
    background-color: #fff;
  }
    .cs_box {
      width: 1096px; height: 320px;
      margin: auto; padding: 46px 0;
      text-align: center; 
    }
      .cs_box  a {display:block; font-weight: bold; text-decoration: underline}
    
      .cs_part {
        float: left;
        width: 454px; height: 230px; 
        margin-right: 34px; padding: 20px;
        text-align: justify;
        border: 1px solid #333;
      }
        .cs_part  button { text-decoration: underline; font-weight: bold;}

      .store_search_part {
        float: left;
        width: 454px; height: 230px; 
        border: 1px solid #333;
      }
        .store_search_part span {
          display:block; 
          padding: 40px; padding-bottom: 0;
          font-size: 22px;  font-weight: bold;}
      
      .sns_part { 
        float:right; 
        width: 70px; height: 200px;
        padding: 8px; box-sizing: border-box;
        border: 1px solid #333;
      }
        .sns_part > a {
          display:block; 
          width: 40px; height: 40px;
          margin:auto; margin-bottom: 8px;
          border-radius: 100%;
          background-color: #c4c4c4;
        }


    


    
    address {
      width: 1096px; height: 242px;
      margin: auto; margin-bottom: 15px; padding-top: 50px;
      border: 1px solid #333;
    }
      address > p {display: block; padding-left: 20px;}
      address  a {text-decoration: underline;}

    .foot_logo {
      width: 480px; height: 100px;
      margin: auto;
      background-image: url(../../img/hermes_logo.svg);
      background-repeat: no-repeat;
      background-position: 190px;
    }