

@include mobile{
  #historyBox {width: 100%; height: 830px; 
    padding-top: 60px; 
    background-color: #fff;
    h2 {
      width: 100%; height: 30px; 
      margin: auto; padding-top: 7px;
      text-align: center; text-transform: uppercase; font-size: 14px;
      background-color: $color_white_01;}
    .history_area {
      display: flex; justify-content: space-around;
      width: auto; height: 500px;
      margin: auto; margin-top: 60px; 
      background-color: $color_beige_01;
      & > li {
        width: 300px; height: 200px;
        margin: auto; padding: 84px;
        text-align: center; 
        background-color: #eee;
      }
    // & > .indicator_btn {
    //     background-image: url(../../img/circle-solid.svg);
    //     background-repeat: no-repeat;
    //     background-position: 10px 12px;
    //   } 
    } // .history_area

    .develop_area {
      width: 100%; height: 600px;
      background-color: #fff;
      h2 {width: 100%; height: 40px; margin: auto; margin-top: 110px;}
      .develop_inner {
        width: 100%; height: auto; 
        padding: 20px; margin:auto; margin-top: 30px;
        border: 2px solid $color_beige_01;
        p {width: 100%; height: auto; font-size: 13px; text-align: center;}
      } // .develop_inner
    } // .develop_area
  } // #historyBox
} // 320px





@include tablet{
  #historyBox {width: 100%; height: 1560px; 
    padding-top: 120px; 
    background-color: #fff;
    h2 {
      width: 100%; height: 120px; 
      margin: auto; padding-top: 42px;
      text-align: center; text-transform: uppercase; font-size: 30px;
      background-color: $color_white_01;}
    .history_area {
      display: flex; justify-content: space-around;
      width: auto; height: 700px;
      margin: auto; margin-top: 80px;
      background-color: $color_beige_01;
      & > li {
        width: 700px; height: 400px;
        margin: auto; padding: 180px;
        text-align: center; 
        background-color: #eee;
      }
    } // .history_area

    .develop_area {
      width: 100%; height: 800px;
      background-color: #fff;
      h2 {width: 100%; height: 120px;  margin: auto; margin-top: 160px;}
      .develop_inner {
        width: 100%; height: 300px; 
        padding: 46px; margin:auto; margin-top: 60px;
        border: 2px solid $color_beige_01;
        p {width: 100%; height: auto; 
          text-align: center; font-size: 18px;}
      } // .develop_inner
    } // .develop_area
  } // #historyBox
} // 768px




@include laptop{
  #historyBox {width: 100%; height: 1600px; 
    padding-top: 120px; 
    background-color: #fff;
    h2 {
      width: 100%; height: 120px; 
      margin: auto; padding-top: 42px;
      text-align: center; text-transform: uppercase; font-size: 38px;
      background-color: $color_white_01;}
    .history_area {
      display: flex; justify-content: space-around;
      width: auto; height: 750px;
      margin: auto; margin-top: 80px;
      background-color: $color_beige_01;
      & > li {
        width: 1000px; height: 600px;
        margin: auto; padding: 300px;
        text-align: center; 
        background-color: #eee;
      }
    } // .history_area 
    .develop_area {
      width: 100%; height: 1500px;
      background-color: #fff;
      h2 {width: 100%; height: 120px; margin: auto; margin-top: 160px;}
      .develop_inner {
        width: 100%; height: auto; 
        padding: 70px; margin:auto; margin-top: 60px;
        border: 2px solid $color_beige_01;
        p {width: 100%; height: auto; 
          text-align: center; font-size: 20px;}
      } // .develop_inner
    } // .develop_area
  } // #historyBox
} // 1280px


@include pc{
  #historyBox {width: 100%; height: 1600px; 
    padding-top: 120px; 
    background-color: #fff;
    h2 {
      width: 100%; height: 120px; 
      margin: auto; padding-top: 42px;
      text-align: center; text-transform: uppercase; font-size: 38px;
      background-color: $color_white_01;}
    .history_area {
      display: flex; justify-content: space-around;
      width: auto; height: 750px;
      margin: auto; margin-top: 80px;
      background-color: $color_beige_01;
      & > li {
        width: 1000px; height: 600px;
        margin: auto; padding: 300px;
        text-align: center; 
        background-color: #eee;
      }
    } // .history_area
    .develop_area {
      width: 100%; height: 1500px;
      background-color: #fff;
      h2 {width: 100%; height: 120px; margin: auto; margin-top: 160px;}
      .develop_inner {
        width: 100%; height: auto; 
        padding: 70px; margin:auto; margin-top: 30px;
        border: 2px solid $color_beige_01;
        p {width: 100%; height: auto; 
          text-align: center; font-size: 20px;}
      } // .develop_inner
    } // .develop_area
  } // #historyBox
}  // 1440px     



