/* (320px) ~ 767px */
@media all and (max-width:767px) {
  #wrap {width: auto; min-width:320px; min-height: 600px;}
  /* % 계산 방법 
    수치 / 기준값 * 100
  */

  #headBox {height: 100px;}
  #viewBox {width:48.125%; min-width: 154px; height: 400px; margin: auto; background-color: #07a;}
    .view_area {width: 100%; height: 100%;}
  #conBox {display: none;}
  #infoBox {display: none;}
  #footBox {height: 140px; background-color: #afa;}
} /* (320px) ~ 767px */