// contentBox_02.scss



// mobile =======================================
@include mobile {
  .contentBox_02 {
    width: 100%; height: 100%;
    margin: auto; margin-bottom: 210px; 
    // padding: 0 8px;
    text-transform: uppercase; text-align: center; line-height: 40px;
    background-color: #eee;

    & h2 {
      width: 200px; height: 40px;
      margin: auto; margin-bottom: 10px;
      background-color: #fff;
    }

    & .best_wrap {width: 100%; height: 400px; overflow: hidden;}
    @at-root  & .best_inner_01 {
      display: flex; justify-content: flex-start;
      width: 1200px; height: 600px;
      & li {
        width: 300px; height: 400px; 
        margin-right: 20px;
        background-image: linear-gradient(45deg, #ddd, #acf);}
      & .best_part_05 {@include blind;}
      & .best_part_06 {@include blind;}
    }
  } //.contentBox_02
} // mobile 320




// tablet =======================================
@include tablet {
  .contentBox_02 {
    width: 100%; height: 750px;
    margin-bottom: 210px;
    text-transform: uppercase; text-align: center; 
    line-height: 50px; font-size: 30px;
    background-color: #eee;
  
    & h2 {
      width: 300px; height: 50px;
      margin: auto; margin-bottom: 70px;
      background-color: #fff;
    }

    & .best_wrap {width: 100%; height: 700px; overflow: hidden;}
    @at-root  & .best_inner_01 {
      display: flex; justify-content: flex-start;
      width: 1200px; height: 600px;
      
      & li {
        width: 600px; height: 500px; background-color: #ddd;
        margin-right: 20px;
        background-image: linear-gradient(45deg, #ddd, #acf);}
      & .best_part_05 {@include blind;}
      & .best_part_06 {@include blind;}
    }
  } //.contentBox_02
} // tablet 768







// laptop =======================================
@include laptop {
  .contentBox_02 {
    width: 100%; height: 700px;
    margin-bottom: 210px;
    text-transform: uppercase; text-align: center; 
    line-height: 50px; font-size: 30px;
    background-color: #eee;
  
    & h2 {
      width: 300px; height: 60px;
      margin: auto; margin-bottom: 100px;
      background-color: #fff;
    }

    & .best_wrap {width: 100%; height: 700px; overflow: hidden;}
    @at-root  & .best_inner_01 {
      display: flex; justify-content: flex-start;
      width: 4800px; height: 600px;
      
      & li {
        width: 500px; height: 400px; background-color: #ddd;
        margin-right: 30px;
        background-image: linear-gradient(45deg, #ddd, #acf);}
    } // .best_inner_01
  } //.contentBox_02
} // laptop 1280











// pc ===========================================
@include pc {
  .contentBox_02 {
    width: 1440px; height: 650px;
    margin-bottom: 210px;
    text-transform: uppercase; text-align: center; line-height: 60px;
    background-color: #eee;
  
    & h2 {
      width: 600px; height: 60px;
      margin: auto;
      background-color: #fff;
    }
  } //.contentBox_02
} // pc 1440


