// contentBox_02.scss

/* contentBox_02=============================== */
// .contentBox_02 {
//   width: 1440px; height: 650px;
//   margin-bottom: 210px;
//   text-transform: uppercase; text-align: center; line-height: 60px;
//   background-color: #faf;
// }
//   .contentBox_02 > h2 {
//     width: 600px; height: 60px;
//     margin: auto;
//     background-color: #fff;
//   }

