// contentBox_02.scss



// mobile =======================================
@include mobile {
  .contentBox_02 {
    width: 100%; height: 100%;
    margin: auto; margin-bottom: 210px; padding: 20px;
    text-transform: uppercase; text-align: center; line-height: 40px;
    border: $line1;

    & h2 {
      width: 200px; height: 40px;
      margin: auto; 
    }

    & .best_wrap {width: 100%; height: 400px; overflow: hidden;}
    @at-root  & .best_inner_01 {
      display: flex; justify-content: flex-start;
      width: 1200px; height: 400px;

      & li {
        width: 300px; height: 350px; 
        margin-right: 20px; margin-top: 20px;
        background-image: linear-gradient(45deg,  $color_beige_01, $color_white_02);}
      & .best_part_05 {@include blind;}
      & .best_part_06 {@include blind;}
    }
  } //.contentBox_02
} // mobile 320




// tablet =======================================
@include tablet {
  .contentBox_02 {
    width: 100%; height: 100%;
    margin-bottom: 210px; padding-top: 30px;
    text-transform: uppercase; text-align: center; 
    line-height: 50px; font-size: 30px;
    border: $line1;
  
    & h2 {
      width: 300px; height: 50px;
      margin: auto; margin-bottom: 20px;
    }

    & .best_wrap {width: 100%; height: 600px; overflow: hidden;}
    @at-root  & .best_inner_01 {
      display: flex; justify-content: flex-start;
      width: 1600px; height: 600px; 
      padding: 50px 20px;
      & li {
        width: 320px; height: 400px; 
        margin-right: 20px; 
        background-image: linear-gradient(45deg,  $color_beige_01, $color_white_02);}
      & .best_part_05 {@include blind;}
      & .best_part_06 {@include blind;}
    }
  } //.contentBox_02
} // tablet 768







// laptop =======================================
@include laptop {
  .contentBox_02 {
    width: 100%; height: 100%;
    margin-bottom: 210px; padding-top: 20px;
    text-transform: uppercase; text-align: center; 
    line-height: 50px; font-size: 30px;
    border: $line1;
  
    & h2 {
      width: 300px; height: 60px;
      margin: auto; margin-bottom: 40px;
    }

    & .best_wrap {width: 100%; height: 600px; overflow: hidden;}
    @at-root  & .best_inner_01 {
      display: flex; justify-content: flex-start;
      width: 2400px; height: 600px;
      padding: 0 20px;

      & li {
        width: 400px; height: 450px;
        margin-right: 30px;
        background-image: linear-gradient(45deg,  $color_beige_01, $color_white_02);}
    } // .best_inner_01
  } //.contentBox_02
} // laptop 1280











// pc ===========================================
@include pc {
  .contentBox_02 {
    width: 100%; height: 100%;
    margin: auto;  margin-bottom: 210px; padding-top: 30px;
    text-transform: uppercase; text-align: center; line-height: 60px;
    border: $line1;
  
    & h2 {
      width: 600px; height: 60px;
      margin: auto; 
      font-size: 35px;
    }

    & .best_wrap {width: 100%; height: 700px; overflow: hidden; }
    @at-root  & .best_inner_01 {
      display: flex; justify-content: flex-start;
      width: 2400px; height: 600px;
      padding: 60px 10px;

      & li {
        width: 400px; height: 500px;
        margin-right: 30px;
        background-image: linear-gradient(45deg,  $color_beige_01, $color_white_02);}
    } // .best_inner_01
  } //.contentBox_02
} // pc 1440


