// contentBox_03.scss


// mobile =======================================
@include mobile {
  .contentBox_03 {
    width: 100%; height: 550px;
    margin-bottom: 200px; padding: 20px 10px;
    text-transform: uppercase; text-align: center; line-height: 30px; 
    border: $line1;

    & h2 {
      width: 200px; height: 30px;
      margin: auto; margin-bottom: 10px;
      }
  
  @at-root .content_area_03 {
    width: 300px; height: auto;
    margin: auto; 

    @at-root .scarf_inner {
      width: 270px; height: auto; 
      margin: auto;

      & li {
        width: 270px; height: auto;
        
        @at-root .scarf_part_01 {
          width: 260px; height: 260px; 
          background-color: $color_light_gray_02;
        } //.scarf_part_01

        & dl {
            width: 260px; height: 150px;
            padding: 20px;
          & dt {
            width: 180px; height: 50px;
            margin: auto; 
            background-color: $color_light_gray_01;}
          & dd {
            width: 140px; height: 50px; 
            margin: auto; margin-top: 14px;
            background-color: $color_light_gray_01;;}
          } // dl  
        } // li
      

      & li:nth-of-type(2) {display: none;}
      & li:nth-of-type(3) {display: none;} 
      & li:nth-of-type(4) {display: none;}
      & li:nth-of-type(5) {display: none;}
      & li:nth-of-type(6) {display: none;} 
      }
    } // .content_area_03
  } // .contentBox_03
} // mobile 320









// // tablet =======================================
@include tablet {
  .contentBox_03 {
    width: 100%;  height: auto; 
    margin: auto; margin-bottom: 200px; padding-top: 30px;
    text-transform: uppercase; text-align: center; line-height: 50px;
    border: $line1;

    & h2 {
      width: 300px; height: 50px;
      margin: auto; margin-bottom: 20px;
      font-size: 30px;
      }
  
    @at-root .content_area_03 {
      width: 100%; max-width: 768px; height: auto;
      margin: auto; padding: 20px;


    @at-root .scarf_inner {
      display: flex; justify-content: space-around; flex-wrap: wrap;
      width: 740px; height: 1000px; 
      margin: auto;

      & li {
        width: 270px; height: auto;
      
      & div {
        width: 270px; height: 260px; 
        background-color: $color_light_gray_02;
      } //div

      & dl {
        width: 270px; height: 150px;
        padding: 20px;
        & dt {
          width: 180px; height: 50px;
          margin: auto; 
          background-color: $color_light_gray_01;}
        & dd {
          width: 140px; height: 50px; 
          margin: auto; margin-top: 10px;
          background-color: $color_light_gray_01;}
          } // dl
        } // li 
        & li:nth-of-type(5) {display: none;}
        & li:nth-of-type(6) {display: none;} 
      } // .scarf_inner
    } // .content_area_03
  } // .contentBox_03
} // tablet 768  



// laptop =======================================
@include laptop {
  .contentBox_03 {
    width: 100%; height: auto;
    margin: auto; margin-bottom: 200px; padding-top: 20px;
    text-transform: uppercase; text-align: center; line-height: 50px;
    border: $line1;

    & h2 {
      width: 300px; height: 50px;
      margin: auto; margin-bottom: 20px;
      font-size: 30px;
      }
  
    @at-root .content_area_03 {
    width: 100%; max-width: 1280px; height: auto;
    margin: auto;


    @at-root .scarf_inner {
      display: flex; justify-content: space-around; flex-wrap: wrap;
      width: 1200px; height: 1000px; 
      margin: auto;
      padding: 30px 50px;
      & li {
        width: 300px; height: auto;
      
        & div {
          width: 300px; height: 370px; 
          background-color: $color_light_gray_02;
        } // div
  
        & dl {
          width: 300px; height: 150px;
          padding: 20px;
  
          & dt {
            width: 200px; height: 50px;
            margin: auto; 
            background-color: $color_light_gray_01}
          & dd {
            width: 150px; height: 50px; 
            margin: auto; margin-top: 10px;
            background-color: $color_light_gray_01;}
          } // dl
          } // li
      } // .scarf_inner
    } // .content_area_03
  } // .contentBox_03
} // laptop 1280








// // pc =======================================
@include pc {
  .contentBox_03 {
    width: 1440px; height: auto;
    margin: auto; margin-bottom: 200px; padding-top: 30px;
    text-transform: uppercase; text-align: center; line-height: 50px;
    border: $line1;

    & h2 {
      width: 300px; height: 50px;
      margin: auto; margin-bottom: 10px;
      font-size: 30px;
      }
  
    @at-root .content_area_03 {
    width: 100%; height: auto;
    margin: auto;

    @at-root .scarf_inner {
      display: flex; justify-content: space-around; flex-wrap: wrap;
      width: 1200px; height: 1300px; 
      margin: auto;
      padding: 50px;
    & li {
      width: 300px; height: auto;
    
      & div {
        width: 300px; height: 370px; 
        background-color: $color_light_gray_02;
      } // div

      & dl {
        width: 300px; height: 150px;
        padding: 20px;

        & dt {
          width: 200px; height: 50px;
          margin: auto; 
          background-color: $color_light_gray_01}
        & dd {
          width: 150px; height: 50px; 
          margin: auto; margin-top: 10px;
          background-color: $color_light_gray_01;}
        } // dl
        } // li
      } // .scarf_inner
    } // .content_area_03
  } // .contentBox_03
} // pc 1440


