// contentBox_01.scss



// mobile =======================================
@include mobile {
  .contentBox_01 {
    width: 100%; height: 700px;
    margin-bottom: 150px; padding-top: 10px;
    text-transform: uppercase; text-align: center; line-height: 42px;
    border: $line1;

    & h2 {
      width: 200px; height: 40px;
      margin: auto; margin-bottom: 10px;
    }
    @at-root .content_area_01 {
      width: 100%; height: 680px;
      margin: auto;
      
      @at-root & .fw_inner_01 {
        width: 100%; height: 600px; 
        padding: 10px;

        & li {
          width: 280px; height: 280px; 
          margin: auto; margin-bottom: 20px;
          background-color: $color_light_gray_02;}
        & .fw_part_03 {@include blind}
        & .fw_part_04 {@include blind}
      } // .fw_inner_01
      @at-root & .fw_inner_02 {@include blind}

      & button {
        width: 100px; height: auto; 
        font-size: 18px;
        }
    } // .content_area_01 
  } //.contentBox_01
} // mobile 320










// tablet =======================================
@include tablet {
  .contentBox_01 {
    width: 100%; height: 800px;
    margin-bottom: 210px; padding-top: 30px;
    text-transform: uppercase; text-align: center; line-height: 42px;
    border: $line1;

    & h2 {
      width: 500px; height: 40px;
      margin: auto; margin-bottom: 20px;
      font-size: 30px;
    }
    @at-root .content_area_01 {
      width: 100%; height: 745px;
      margin: auto; padding: 20px;
      
      @at-root & .fw_inner_01 {
        display: flex; justify-content: space-around;
        width: 100%; height: auto; 
        padding: 10px;

        & li {
          width: 330px; height: 280px; 
          background-color: #ddd;}
        & .fw_part_03 {@include blind}
        & .fw_part_04 {@include blind}
      } // .fw_inner_01

      @at-root & .fw_inner_02 {
        display: flex; justify-content: space-around;
        width: 100%; height: auto; 
        padding: 10px;

        & li {
          width: 330px; height: 280px; 
          background-color: $color_light_gray_02;}
        & .fw_part_07 {@include blind}
        & .fw_part_08 {@include blind}
      } // .fw_inner_02

      & button {
        width: 150px; height: auto; 
        margin-top: 20px;
        font-size: 25px;
      }
    } // .content_part_01 
  } //.contentBox_01
} // tablet 768













// laptop =======================================
@include laptop {
  .contentBox_01 {
    width: 100%; height: 800px;
    margin: auto; margin-bottom: 210px; 
    padding: 20px 120px; 
    text-transform: uppercase; text-align: center; line-height: 50px;
    border: $line1;

    & h2 {
      width: 500px; height: 50px;
      margin: auto; 
      font-size: 35px;
    }

    @at-root .content_area_01 {
      position: relative;
      width: 100%; height: 600px;
      margin: auto; padding: 50px 20px;
      
      .fw_wrap_01 {width: 500px; height: 500px; overflow: hidden;}
      @at-root & .fw_inner_01 {
        display: flex; justify-content: space-around;
        width: 2000px; height: 500px;  

        & li {
          width: 490px; height: 480px; 
          background-color: $color_light_gray_02;}
      } // .fw_inner_01

      @at-root & .fw_inner_02 {
        position: absolute; top: 110px; right: 0;
        display: flex; justify-content: space-around; flex-wrap: wrap;
        width: 500px; height: 500px; 
        margin-top: -60px;

        & li {
          width: 230px; height: 230px; 
          background-color: $color_light_gray_02;}
      } // .fw_inner_02

      & button {
        width: 150px; height: auto; 
        margin-top: 40px;
        font-size: 30px;
      }
    } // .content_area_01
  } //.contentBox_01
} // laptop 1280









// pc =======================================
@include pc {
  .contentBox_01 {
    width: 1440px; height: 880px;
    margin: auto; margin-bottom: 210px; 
    padding: 30px 120px;
    text-transform: uppercase; text-align: center; line-height: 50px;
    border: $line1;

    & h2 {
      width: 500px; height: 50px;
      margin: auto; 
      font-size: 35px;
    }

    @at-root .content_area_01 {
      position: relative;
      width: 100%; height: 800px;
      margin: auto; padding: 50px 0;
      
      .fw_wrap_01 {width: 600px; height: 600px; overflow: hidden;}
      @at-root & .fw_inner_01 {
        display: flex; justify-content: space-around;
        width: 2400px; height: 600px;  
        padding: 10px 0;

        & li {
          width: 560px; height: 580px; 
          background-color: $color_light_gray_02;}
      } // .fw_inner_01

      @at-root & .fw_inner_02 {
        position: absolute; top: 100px; right: 0px;
        display: flex; justify-content: space-around; flex-wrap: wrap;
        width: 600px; height: 600px; 
        margin-top: -40px; padding: 0 10px;

        & li {
          width: 280px; height: 280px; 
          background-color: $color_light_gray_02;}
      } // .fw_inner_02

      & button {
        width: 150px; height: auto; 
        margin-top: 40px;
        font-size: 30px;
      }
    } // .content_area_01
  } //.contentBox_01
} // pc 1440



