// subBox_02.scss


// mobile =======================================
@include mobile {
  .subBox_02 {
    width: 100%; height: 120px;
    margin-bottom: 200px;
    background-color: #ddd;
  } // .subBox_01
} // mobile 320




// tablet =======================================
@include tablet {
  .subBox_02 {
    width: 100%; height: 200px;
    margin-bottom: 280px;
    background-color: #ddd;
  } // .subBox_01
} // tablet 768




// laptop =======================================
@include laptop {
  .subBox_02 {
    width: 100%; height: 250px;
    margin-bottom: 280px;
    background-color: #ddd;
  } // .subBox_01
} // laptop 1280





// pc =======================================
@include pc {
  .subBox_02 {
    width: 1440px; height: 360px;
    margin: auto; margin-bottom: 280px;
    background-color: #ddd;
  } // .subBox_01
} // pc 1440