@charset "UTF-8";
/* b_06_layout_practice.cs */

#wrap {
  width: 1000px; height: auto;
  margin: auto;
}

#headBox {
  float: left;
  width: 200px; height: 650px;
  background-color: #777;
}

h1 {
  width: 100%; height: 100px;
  background-color: rgb(158, 141, 141);
}

.navigation {
  float: right;
  width: 180px; height: 200px;
  margin-top: 10px;
  background-color: rgb(158, 141, 141);
}

#imgBox {
  float: left;
  width: 800px; height: 350px;
  background-color: #ccc;
}

#contentBox {
  float: right;
  width: 800px; height: 200px;
  background-color: #777;
}

.con_part {
  width: 100%; height: 100%;
  background-color: rgb(158, 141, 141);
}

.info_part {
  float: left;
  width: 266px; height: 200px;
  background-color: rgb(117, 110, 110);
}
.gallery_part {
  float: left;
  width: 268px; height: 200px;
  background-color: rgb(88, 83, 83);
}
.other_part {
  float: right;
  width: 266px; height: 200px;
  background-color: rgb(78, 76, 76);
}

#footBox {
  float: right;
  width: 800px; height: 100px;
  background-color: #ccc;
}