@charset "UTF-8";
/* css/src/layout_basic_hw.css */

/* reset.css 
=============================== */

body {margin: 0;}
h1,h2,h3,h4,h5,h6,
p,pre,address,
ul,ol,li,dl,dt,dd {
  margin: 0; padding: 0;
  font-size:16px; font-family:sans-serif; }

ul,ol { list-style:none;}

a { text-decoration: none; color:inherit;}
button {border:0; background-color: transparent; cursor: pointer;}

.clearfix:after,
.clearfix::after {
  content: "";
  display: block;
  width: 100%; height: 0;
  clear: both;
}

/* =======design======== */
#wrap  {
  width: 1600px; height: auto;
  margin: auto;
  background-color: #fff;
}


/* =============headBox============= */
#headBox {
  width: 1600px; height: 150px;
  margin: auto; padding: 0;
  background-color: rgb(224, 216, 216); 
}


.box_01 { 
  float: left;
  width: 250px; height: 80px;  
  margin: 40px; 
  background-color: rgb(56, 133, 221);}

.box_02 { 
  float: left;
  width: 850px; height: 80px; 
  margin: 40px; padding: 0;
  background-color: rgb(56, 133, 221);}

.box_03 {
  float: left;
  width: 250px; height: 80px; 
  margin: 40px; padding: 0;
  background-color: rgb(56, 133, 221);}


/* ============adViewBox=============  */
#adViewBox {
  
  width: 1600px; height: 750px;
  margin: auto; padding-top: 28px;
  background-color: rgb(182, 177, 177);
}

.view_outer {
  width: 1300px; height: 600px;
  margin: auto; margin-bottom: 50px;
  background-color: rgb(56, 133, 221)
}

.view_indicator {
  width: 850px; height: 60px;
  margin: auto; margin-top: 50px;
  background-color: rgb(56, 133, 221)
}

/* ===============localNavBox============= */
#localNavBox {
  width: 1600px; height: 250px;
  margin: auto; margin-bottom: 50px; padding-top: 18px;
  background-color: rgb(138, 133, 133);
}

.local_nav_outer {
  width: 1500px; height: 196px;
  margin: auto; 
  background-color: rgb(56, 133, 221);
}

/* popularContenBox */
#popularContenBox {
  width: 1600px; height: 600px;
  margin: auto; 
  background-color: rgb(206, 202, 202);
}

.h3 {
  width: 1300px; height: 50px;
  margin: auto;
  background-color: rgb(56, 133, 221);
}

.pop_con_area {
  width: 1300px; height: 470px;
  margin: auto; margin-top: 30px;
  background-color: rgb(56, 133, 221);
}

/* =============newContentBox============ */
#newContentBox {
  width: 1600px; height: 900px;
  margin: auto; margin-bottom: 80px; padding-top: 60px;
  background-color: rgb(226, 218, 218);
}

.h3 {
  width: 1300px; height: 50px;
  background-color: rgb(56, 133, 221);
}

.new_con_area {
  width: 1300px; height: 700px;
  margin: auto; margin-top: 30px;
  background-color: rgb(56, 133, 221);
}

/* ============recommendedContentBox============== */
#recommendedContentBox {
  width: 1600px; height: 600px;
  margin: auto; margin-bottom: 80px; padding-top: 30px;
  background-color: rgb(226, 218, 218);
}

#recommendedContentBox > .h3 {
  width: 1300px; height: 50px;
  margin: auto;
  background-color: rgb(56, 133, 221);
}

.recom_con_area {
  width: 1300px; height: 440px;
  margin: auto; margin-top: 30px;
  background-color: rgb(56, 133, 221);
}

/* ===============communityBox============= */
#communityBox {
  width: 1600px; height: 800px;
  margin: auto; 
  background-color: rgb(226, 218, 218);
}

#communityBox > .h3 {
  width: 1300px; height: 50px;
  margin-top: 60px;
  background-color: rgb(56, 133, 221);
}

.community_area {
  width: 1300px; height: 600px;
  margin: auto; margin-top: 30px;
  background-color: rgb(56, 133, 221);
}

/* ===============miniAdBox============= */
#miniAdBox {
  width: 1600px; height: 400px;
  margin: auto; margin-bottom: 80px; padding-top: 40px;
  background-color: rgb(167, 162, 162)
}

.mini_ad_outer {
  width: 1500px; height: 300px;
  margin: auto; 
  background-color: rgb(56, 133, 221);
}

/* ==============footBox============== */ 
#footBox {
  width: 1600px; height: 200px;
  margin: auto; padding-top: 22px;
  background-color: rgb(133, 127, 127)
}

.box {
  width: 1300px; height: 140px;
  margin: auto; 
  background-color: rgb(56, 133, 221);
}