@charset "UTF-8";
/* css/src/practice_01.css */

/* reset.css 
=============================== */
body {margin: 0;
}

h1,h2,h3,h4,h5,h6,
p,pre,address,
ul,ol,li,dl,dt,dd {
  margin: 0; padding: 0;
  font-size:16px; font-family:sans-serif; }

ul,ol { list-style:none;}

a { text-decoration: none; color:inherit;}
button {border:0; background-color: transparent; cursor: pointer;}

/* common.css 
============================= */
.clearfix:after,
.clearfix::after{
  content:""; display: block; clear:both;
}

/* design 
=================================== */
#wrap {
  width: 1440px; height: auto;
  margin: auto;
}

#headBox {
  width: 1400px; height: 100px;
  box-sizing: border-box; padding: 10px;
  background-color: #c4c4c4;
}

h1 {
  float:left;
  width: 120px; height: 70px;
  background-color: #555555;;
}

.navigation_area {
  width: 510px; height: auto;
  float: right;
  background-color: #c4c4c4;
}
#unb {
  width: 270px; height: 26px;
  float: right; margin-bottom: 54px;
  background-color: #555555;
}
#unb > ul {
  display: inline-block;
  width:50px; height: 20px;
  margin-right: 20px;
  background-color: #c4c4c4;
}
#gnb {
  width: 510px; height: 35px;
  float: right; 
  background-color: #555555;
}

#viewBox {
  width: 1440px; height: 600px;
  background-color: #834c33;
}
.titleBox {
  width: 300px; height: 262px;
  margin: 176px 810px 162px 330px;
}