

@include mobile {
  #cartBox {
    width: 100%; height: auto; 
    margin: 100px 0; padding: 20px;
    border: $line1;
    @at-root h2 {
      width: 100%; height: 30px; 
      margin-bottom: 10px;
      font-weight: normal; font-size: 20px; 
      text-align: center; text-transform: uppercase;
    }
    @at-root .cart_area {
      width: 100%; height: 400px;

      @at-root .selectBox {
        width: 100%; height: 36px;
        margin: auto;
        border-top: $line2; border-bottom: $line2;
      } // .selectBox

      @at-root .itemBox {
        width: 100%; height: 180px;
        margin: auto;
        border-bottom: $line2;
      } // .itemBox
    } // .cart_area 
  } // #cartBox 
} // 320px


@include tablet {
  #cartBox {
    width: 100%; height: 740px; 
    margin: 120px 0; padding: 40px 15px;
    border: $line1;
    @at-root h2 {
      width: 100%; height: 48px; 
      margin-bottom: 20px;
      font-weight: normal; font-size: 30px; 
      text-align: center; text-transform: uppercase;
    }

    @at-root .cart_area {
      width: 100%; height: 600px;

      @at-root .selectBox {
        width: 100%; height: 36px;
        border-top: $line2; border-bottom: $line2;
      } // .selectBox

      @at-root .itemBox {
        width: 100%; height: 300px;
        margin: auto;
        border-bottom: $line2;
      } // .itemBox
    } // .cart_area 
  } // #cartBox               
}// 768px


@include laptop {
  #cartBox {
    width: 100%; height: 1200px; 
    margin: 130px 0; padding: 50px 70px;
    border: $line1;
    @at-root h2 {
      width: 100%; height: 48px; 
      margin-bottom: 30px;
      font-weight: normal; font-size: 38px; 
      text-align: center; text-transform: uppercase;
    }

    @at-root .cart_area {
      width: 100%; height: 1000px;

      @at-root .selectBox {
        width: 100%; height: 46px;
        border-top: $line2; border-bottom: $line2;
      } // .selectBox

      @at-root .itemBox {
        width: 100%; height: 350px;
        margin: auto;
        border-bottom: $line2;
      } // .itemBox
    } // .cart_area 
  } // #cartBox    
} // 1280px


@include pc {
  #cartBox {
    width: 1440px; height: 1200px; 
    margin: 130px auto; padding: 50px 70px;
    border: $line1;
    @at-root h2 {
      width: 100%; height: 48px; 
      margin-bottom: 30px;
      font-weight: normal; font-size: 38px; 
      text-align: center; text-transform: uppercase;
    }

    @at-root .cart_area {
      width: 1300px; height: 1000px;
      margin: auto;

      @at-root .selectBox {
        width: 100%; height: 46px;
        margin: auto;
        border-top: $line2; border-bottom: $line2;
      } // .selectBox

      @at-root .itemBox {
        width: 100%; height: 400px;
        margin: auto;
        border-bottom: $line2;
      } // .itemBox
    } // .cart_area 
  } // #cartBox    
} // 1440px








