// loginBox.scss

/* loginBox ================================ */
#loginBox {
  width: 100%; height: 1000px;
  margin-bottom: 300px; padding: 180px;
  text-transform: uppercase; 
}

  .login_area {
    width: 1096px; height: 800px; 
    margin: auto; padding: 0;
    border: 1px solid $color_white_03; font-weight: normal;
  }

    .login_title_inner {
    width: 1096px; height: 140px;
    margin: auto; padding: 30px 0;
    border-bottom: 1px solid $color_white_03;
  } 
    .login_title_box {
    width: 320px; height: 80px;
    margin: auto;
    text-align: center; line-height: 70px; font-size: 38px; font-weight: bold;
  }  

/* login_inner------------------------------- */
  .login_inner {
    width: auto;
    min-width: 600px; height: 658px;
    padding: 0 50px; 
    color: #505050; 
    background-color: $color_white_01;
  }
    .login_inner form {margin: auto; height: 100%;}
    .login_inner fieldset {float: left;}
    .login_inner fieldset:last-child {float: right;}

  .member_inner {
    width: 450px; height: 240px; 
    margin-top: 80px;
    padding: 17px 25px;
  }

    .member_inner input {
      width: 380px; height: 80px;
      margin: auto; margin-bottom: 45px; padding-left: 20px; 
      text-align: left; line-height: 80px; font-size: 20px; 
      border: 1px solid $color_white_03; 
    }  
    .member_inner input:last-child {
      width: 380px; height: 80px;
      margin: auto; margin-bottom: 10px; padding-left: 20px; 
      text-align: left; line-height: 80px; font-size: 20px;
      border: 1px solid $color_white_03;
    } 
  .id_check_inner {
    width: 200px; height: 40px; 
    margin-top: 4px; margin-bottom: 12px;
  }

    .id_check_inner input {
      float: left;
      width: 20px; height: 20px; 
      margin-left: 30px;
      border: 1px solid $color_white_03;
    } 
      .id_check_box {
        float: right;
        width: 134px; height: 40px; 
      } 
  .login_btn_inner {
    width: 420px; height: 120px; 
    margin-bottom: -10px; margin-top: 20px; padding: 20px 8px; 
  }

    .login_btn_box {
      width: 400px; height: 80px;
      margin-left: 10px;
      text-align: center; line-height: 80px; font-size: 24px;
      color: $color_light_gray_01;
      background-color: #333;
    }
    .login_btn_box > a {display: block; }

  .search_inner {
    width: 360px; height: 40px;
    margin: auto;  margin-right: 54px; padding: 0 80px;
    line-height: 40px; text-align: center; font-size: 14px;
  }  
    .id_search_box {
      float: left;
      width: 100px; height: 40px;
    } 
    
    .pw_search_box {
      float: right;
      width: 100px; height: 40px;
    }
      .search_inner > a {display: block; }

  
  .join_inner {
    width: 540px; height: 658px;
    margin:-40px -50px; padding: 200px 76px; 
    color: $color_gray_01;
  }
    .join_box {
      width: 400px; height: 80px;
      margin-bottom: 46px;
      text-align: center; line-height: 80px; 
      font-size: 22px; color: $color_gray_02;
      border: 1px solid $color_gray_02;
    }
    .non_member_box {
      width: 400px; height: 80px;
      text-align: center; line-height: 80px; 
      font-size: 22px; color: $color_gray_02;
      border: 1px solid $color_gray_02;
    }
    .join_inner  a {display: block; width: 400px; height: 80px;}